.mainbody {
  padding-left: 10%;
  padding-right: 10%;
}

.product {
  /* border: 1px solid rgb(149, 25, 25); */
  width: 90%;
}

.card {
  justify-content: center;
  text-align: center;
  padding: 5%;
  height: 380px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(242, 234, 234);
}

.splitmainpage {
  display: flex;
  /* border: 1px solid rgb(12, 193, 154); */
}

.filter {
  border: 1px solid rgb(225, 216, 225);
  height: max-content;
}
.filter > div {
  width: 250px;
}

.owner {
  color: #747474;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Futura", sans-serif;
}

.tit {
  font-size: 15px;
  display: inline-block;
  font-weight: 700;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Futura", sans-serif;
  color: #0288d6;
}

.flex {
  display: flex;
  text-align: center;
  justify-content: center;
}

.save {
  font-size: 14px;
  font-weight: 400;
  color: #ff4e4e;
  white-space: nowrap;
  width: 40%;
}

.dis_price,
.price {
  display: inline-block;
  white-space: nowrap;
  margin-right: 6px;
  color: #333 !important;
  font-size: 15px;
  font-weight: 400;
}

.price {
  text-decoration: line-through;
}

h1 {
  font-family: Tiemann, serif;
  font-weight: 400;
}

.sec {
  margin-bottom: 2%;
  margin-top: 1%;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.hover-switch > img:last-of-type {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.hover-switch:hover > img:last-of-type {
  opacity: 0;
}

.hover-switch > img {
  position: absolute;
  height: 180px;
  width: 19%;
  /* margin-top: 50px; */
  /* border: 1px solid rgb(161, 26, 26); */
}

.x {
  /* border: 1px solid gray; */
  padding: 1%;
  justify-content: center;
  text-align: center;
}

.x img {
  height: 180px;
  width: 190px;
  margin-bottom: 5%;
  margin-left: 12%;
  /* border: 1px solid rgb(26, 51, 161); */
}

.pagination {
  justify-content: center;
  /* margin-left: 30%; */
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-top: 20px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #000000;
  border-color: transparent;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.9rem;
  margin-left: 0;
  line-height: 1.25;
  color: #fff;
  background-color: #444343;
  border: 0 solid transparent;
}

/* .simple{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow-x: auto;
    overflow-y: hidden;
} */
.az {
  height: auto;
  width: 250px;
}
